<%- include('./partials/header.ejs') %>
    <%- include('./partials/menu.ejs') %>
        <%- include('./partials/footer.ejs') %>

            <head>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
            </head>

            <body style="background-color: #e8f1f7;">
                <div class="position-absolute top-50 start-50 translate-middle text-center">
                    <div class="d-flex align-items-center flex-column"  style="font-family: 'Bebas Neue', sans-serif; font-size: 1.5rem;">
                        <h2 style="font-size: 3rem;">Seja Bem-Vindo à Nossa Plataforma de Eventos!</h2>
                        <h4 style="font-size: 2rem;">Feito por João Pedro Cavenaghi, Laís Biazotto e Pedro Donetti!</h4>
                    </div>
                </div>
            </body>