<head>
  <title>Palestrantes</title>
</head>
<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs', { inAdm: inAdm }) %>

<body style="background-color: #e8f1f7;">
  <br>
  <div class="container">
    <div class="card">
      <div class="card-header">
        Novo Palestrante
      </div>
      <div class="card-body">
        <form method="post" action="/palestrantes/">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nome" name="nome" required>
            <label for="nome">Nome</label>
          </div>

          <div class="form-floating mb-3">
            <textarea class="form-control" id="biografia" name="biografia" required></textarea>
            <label for="biografia">Biografia</label>
          </div>

          <button class="btn btn-primary" style="background-color: #2172a3; color: #fff;" type="submit">Salvar</button>
          <a href="/palestrantes" class="btn btn-warning">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>